
.main-content > div{
    align-items: center;
    width: 100%;
    margin-block: 30px;
    display: flex;
}
.shimmer-img{
    width: 40%;
    height: 400px;
    background-color: #eee;
}
.country-info{
    padding: 0 50px;
    width: 60%;
    height: 100%;
    padding-bottom: 30px;
}
.shimmer-info .h3{
    width: 90%;
    height: 24px;
    background-color: #eee;
    border-radius: 30px;
}
.shimmer-info .p{
    width: 70%;
    height: 17px;
    background-color: #eee;
    border-radius: 30px;
    margin-top: 40px;
}